
body{
    background-image: url("../images/ep_naturalblack.png");
    color: blue;
    
    
}
p{
    text-align: center;
}
.instructions{
    text-align: center;
    list-style-type:none;
}
card{
    background: transparent;
}
.beach-image{
    height: 200px;
}
.jumbotron{
    height: 100px;
    padding-top: 1%;
    background: transparent;
    color: cornflowerblue;
    
    
}
#headingOne {
    padding-left: 42%;
}

.display-4 {
    padding-left: 35%;
    font-weight: 600;
}
.accordion>.card:last-of-type{
    background: transparent;
    border: none;
    box-shadow: none;
}
.score-header{
    background-color: cornflowerblue;
    color: black;
}